*{
    text-align: center;
}

/*Tables*/
table {
	border-collapse: collapse;
	width: 100%;
	float: left;
	border-radius: 4px;
	-moz-border-radius: 4px;
	margin-top:50px;
}

table, th, td {
	border: 5px solid rgb(220, 247, 253);
  }

th, td {
	text-align: center;
	padding: 2px;
}

td{
    font-size: 16px;
}


tr:nth-child(even) {
	background-color: #B3F2FB;
}

th {
	background-color: #0CDCB6;
	color: #ffffff;
}

a:hover {
	color: #999999;
}

input, select{
    background-color: inherit;
    font-size: inherit;
}

input:hover,  input:active, input:focus{
    border: 2px solid rgb(18, 122, 136);
}

button:hover{
    background-color: rgb(18, 122, 136);
}
button {
	background-color: rgb(120, 179, 169);
}