/* Main Layout */
html {
  scroll-behavior: smooth;
}
* {
	font-family: sans-serif;
}
body {
	margin:0;
	padding:0;
	height: 100vh;
	width: 100vw;
}
div.text{
	clear:both;
	margin-top: 3%;
	margin-bottom: 3%;
}

.header {
	position: relative;
	top:0;
	left:0;
	height: 15vh;
	width: 100vw;
	line-height: 15vh;
	text-align: center;
	font-size: 10vh;
	font-family: sans-serif;
	color: #00a990;
}

.main {
	position: relative;
	height: 76vh;
	width: 100vw;
	text-align: justify;
}

.footer {
	position: relative;
	height: 4vh;
	width: 100vw;
	text-align: center;
	font-size: 10px;
	background-color: #00a990;
	color: #ffffff;
	width: 100%;
	border-radius: 7px;
	padding: 3px;
	box-sizing:border-box;
}

/* headers */
h1 {
	position: center;
	text-align: center;
	size: 300%;
	font-family: sans-serif;
	color: #000000;
}

h2 {
	font-family: sans-serif;
	color: #000000;
}

/*Login*/

.log{
	width:95%;
	z-index:-1;
	opacity:0.4;
	position:absolute;

	
}
.login{
	position: relative;
	heigth:50%;
	width: 20%;
	z-index:1;
}
.register {
	position: relative;
	heigth:50%;
	width: 40%;
	padding: 3vh;
	box-sizing: content-box;
	z-index:1;
	
}

.login input {
	text-align: center;
	float: center;
	clear: both;
	width:90%;
	margin-left:5%;
	margin-right:5%;
}

.login label {
	float: center;
	clear: both;
	width:100%;
	text-align: center;
}

p.loginError {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	height: auto;
	width: 20%;
	margin-top: 2vh;
	text-align: center;
	background-color: rgb(131,18,23);
	color: white;
	
	box-sizing: content-box;
	padding: 3vh;
	border-radius:3vh;
}

/* Anchors */
a {
	text-decoration: none;
}

.a {
	text-decoration: none;
}

a:link {
	color: #000000;
}

.a:link {
	color: #000000;
}

/* visited link */
a:visited {
	color: #000000;
}

.a:visited {
	color: #000000;
}

/*Tables*/
table {
	border-collapse: collapse;
	width: 50%;
	float:left;
	border-radius:4px;
    -moz-border-radius:4px;
}


th, td {
	text-align: center;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
	background-color: #00a990;
	color: #ffffff;
	
}

a:hover {
	color: #999999;
}


/*Forms*/

select {
  width: 100%;
  padding: 14px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  margin: 8px 0;
}
select:hover {
  background-color:  #00ccad;
}

option{
width: 100%;
  background-color: #ffff;
  color: #000000;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
	
}




input {
  width: 80%;
  background-color: #ffff;
  color: #000000;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  float:right;
}

input:hover {
  background-color:  #00ccad;
}


res {
	float: left;
	width: 25%;
	margin-top: 3%;
	background-color: #00a990;
	border-radius: 7px;
	color: #ffffff;
	text-align:center;
}

form {
	width: 35%;
	border-radius: 7px;
	background-color: #f2f2f2;
	padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


button {
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  background-color:  #00a990;
  border: none;
  color: white;
  padding: 3% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 130%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
  border-radius: 7px;
  width:80%;
}

button:hover {
  background-color:  #00ccad; 
  color: white;
}



/*IDs*/
#logout {
	position: absolute;
	right: 0;
	color: #ffffff;
}

#floatleft {
	float:left;
}
#floatright {
	float:right;
}
#floattop {
	float:top;
}
#floatright {
	float:bottom;
}

/*Navigation bar*/
div.navbar {
	display: flex;
	background: #00a990;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 5vh;
	top: 0;
	z-index: 2;
	border-radius: 7px;
	
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

div.navbar a {
	display: flex;
	color: #ffffff;
	height: 5vh;
	width: auto;
	padding: 0;
	padding-left: 2vh;
	padding-right: 2vh;
	box-sizing: content-box;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 3vh;
	border-radius: 7px;
	background: #00a990;
}

div.navbar a:hover {
	background: #00ccad;
	color: #ffffff;
}

div.navbar a.active {
	background: #00ccad;
	color: #ffffff;
}

/*Images*/
.imgheader {
	position: center; z-index : -1;
	opacity: .9;
	z-index: -1; opacity : .9;
	width: 8%;
}

/* Other */
div.centeredContainer {
	display: flex;
	position: fixed;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	top:0;
	left:0;
	
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
