<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">
    </div>

    <div class="col-md-10">
        <table class="somepadding">
          <tr>
            <!--  
              Colspan è usato per indicare ad html quante colonne devono essere "unite" in una sola.
              In questo caso la colonna riempirà tutta la riga (che è formata infatti da tre colonne)  
            -->
            <th colspan=3>Collegamento delle domande ai test</th>
          </tr>
          <tr>
            <td colspan="3" class="centeredtd selezionetest">
                <label>Seleziona il test:</label>
                <select [(ngModel)]="testupdate">
                  <option *ngFor="let t of tests" [ngValue]="t" [selected]="t.testName === testupdate.testName">{{t.testName}}</option>
                </select>
            </td>
          </tr>
          <tr class="centeredtds">
            <td>
              Domande disponibili
            </td>
            <td>
              <!-- empty text -->
            </td>
            <td>
              Domande associate a {{testupdate.testName}}
            </td>
          </tr>
          <tr>
            <td>
              <select size=5 [(ngModel)]="questiontoadd">
                <option *ngFor="let q of questionsAvaliable" [ngValue]="q">{{q.text}}</option>
              </select>
            </td>
            <td class="centeredtd">
              <button class="commandButton" (click)="addquestion(questiontoadd)">Add question</button>
              <button class="commandButton" (click)="removequestion(questiontoremove)">Remove question</button>
            </td>
            <td>
              <select size=5 [(ngModel)]="questiontoremove">
                <option *ngFor="let q of testupdate.questions" [ngValue]="q">{{q.text}}</option>
              </select>
            </td>
          </tr>
          <tr class="centeredtds">
            <td colspan=3>
              <button (click)="update()">Update test</button>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="col-md-1">
  
      </div>
    </div>
  </div>
