<div class="container">
    <div class="row mt-5">
      <div class="col-md-1">
      </div>

      <div class="col-md-10">
          <table>
            <tr>
                <th>Question</th>
                <th>Answer 1</th>
                <th>Answer 2</th>
                <th>Answer 3</th>
              
              <th>
                Edit
              </th>
              <th>
                Delete
              </th>
            </tr>
          
            <tr>
              <td>
                <input placeholder="Inserisci il testo della domanda" [(ngModel)]="questionToInsert.text" />
              </td>
              <td>
                <input placeholder="Inserisci il testo prima risposta" [(ngModel)]="questionToInsert.answer1"/>
              </td>
              <td>
                <input placeholder="Inserisci il testo seconda risposta" [(ngModel)]="questionToInsert.answer2" />
              </td>
              <td>
                <input placeholder="Inserisci il testo terza risposta" [(ngModel)]="questionToInsert.answer3" />
              </td>
              <td>
                <button (click)="insert(questionToInsert)">insert</button>
              </td>
              <td>
                <button (click)="clear()">Clear</button>
              </td>
            </tr>
            <tr *ngFor="let q of questions">
                <td>
                  <input [(ngModel)]="q.text" />
                </td>
                <td>
                  <input [(ngModel)]="q.answer1" />
                </td>
                <td>
                  <input [(ngModel)]="q.answer2" />
                </td>
                <td>
                  <input [(ngModel)]="q.answer3" />
                </td>
              <td>
                <button (click)="update(q)">Save</button>
              </td>
              <td>
                <button (click)="delete(q)">Delete</button>
              </td>
            </tr>
          </table>
        </div>
        
        <div class="col-md-1">
    
        </div>
      </div>
    </div>
    